.about__photo {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.about__group-title {
    width: 100%;
    margin-bottom: 18px;
}

.about__title {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    text-transform: uppercase;
}

.about__subtitle {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
}

.about__description {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 140%;
}

.about__order-btn {
    width: 100%;
    padding: 16px 60px;
    background-color: #E87C40;
    border-radius: 4px;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
